<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dentaku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45CFB9081EF68F1000ADA520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45CFB91C1EF68F1100ADA520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45CFB9271EF68F1100ADA520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
